<!DOCTYPE html>
<html lang="en">
<head>
    <title>Exercise Detail</title>
</head>
<body>
{% extends 'app/base.html' %}
{% block content %}
    <h1>Exercise Details</h1>
    <table>
        <tr>
            <th>Name</th>
            <td>{{ exercise.name }}</td>
        </tr>
        <tr>
            <th>Target Muscle</th>
            <td>{{ exercise.target_muscle }}</td>
        </tr>
        <tr>
            <th>Equipment</th>
            <td>{{ exercise.equipment }}</td>
        </tr>
    </table>
    {% if exercise.youtube_url %}
        <h2>Exercise Video</h2>
        <iframe
                src="https://www.youtube.com/embed/{{ exercise.youtube_url|cut:'https://www.youtube.com/watch?v=' }}"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
                width="1280"
                height="720">
        </iframe>
    {% endif %}
{% endblock content %}

</body>
</html>

