<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exercises</title>
</head>
<body>
{% extends 'app/base.html' %}
{% block content %}
    {% if exercises %}
        <ul>
            {% for ex in exercises %}
                <li>
                    <a href="{% url 'app:exercise_detail' ex.id %}">{{ ex.name }}</a>
                    {% if user.is_authenticated %}
{#                        <a href="{% url 'app:create_userexercise' ex.id %}">Create your#}
{#                            variant </a>#}
                        <button type="button"  onclick="location.href='{% url 'app:create_userexercise' ex.id %}'">Create your variant</button>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No exercises are available.</p>
    {% endif %}
{% endblock content %}

</body>
</html>