<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your exercises</title>
</head>
<body>
{% extends 'app/base.html' %}
{% block content %}
    {% if user_exercises %}
        <h1>Your exercises</h1>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Sets</th>
                <th>Reps</th>
                <th>Weight</th>
                <th>Tempo</th>
            </tr>
            </thead>
            <tbody>
            {% for user_exercise in user_exercises %}
                <tr>
                    <td>{{ user_exercise.exercise.name }}</td>
                    <td>{{ user_exercise.setsNumber }}</td>
                    <td>{{ user_exercise.repsNumber }}</td>
                    <td>{{ user_exercise.tempo }}</td>
                    <td>{{ user_exercise.weight }}</td>
                    <td>
                        <a href="{% url 'app:update_userexercise' user_exercise.id %}">Edit</a>
                    </td>
                    <td>
                        <a class="delete" href="{% url 'app:delete_userexercise' user_exercise.id %}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>You haven't created any exercises yet.</p>
    {% endif %}
    <a href="{% url 'app:exercise_list' %}">Go to exercises</a>
{% endblock content %}
</body>
</html>